*{
    scroll-behavior: smooth;
    scroll-margin: 120px;
}
:root {
    --bg_color: #F1F1F1;
    --green: #006d3a;
    --blue: #00456d;
    --sub_blue: #006d8c;
    --white_sub: #e6e6e6;
    --yellow: #ceb307;
    --red: #bb113b;
    --white: #fbfdf7;
    --orange: #be7c00;
}

body {
    background-color: var(--bg_color);
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100;

}




.content {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content video{
    width: 100%;
    display: block;
}

.content section{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 60%;
    flex-wrap: wrap;
    left: 0;
    z-index: 1;
}



.content .card{
    border-radius: 5px;
    padding: 10px;
    min-height: 120px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5)
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

nav h1{
    color : rgb(0, 119, 255);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 30px 0 20px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

a:hover{
    text-decoration: underline;
}

/* position cards at the bottom of the video */
#cards {
    width: 100%;
    height: 100%;
    z-index: 3;
}

article{
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white-sub);
    border-radius: 5px;
}

article h1{
    font-size: 3rem;
    text-align: center;
    margin: 5px 0 50px 0;
}

article p{
    font-size: 1.3rem;
    text-align: left;
    line-height:  1.5;
    width: 50%;
    margin: 0;
}



.trips-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    flex-wrap: wrap;
}

.trip-item h1{
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.trip-txt{
    margin: 0;
    padding: 0;
}

.trip-item p {
    font-size: 1.3rem;
    text-align: left;
    line-height:  1.5;
    width: 100%;
    margin: 0;
}

.trip-item p::first-letter{
    font-size: 1.3rem;
}

.trip-img img{
    width: 100%;
    height: 100%;
    background-position: center center;
    border-radius: 5px;
}

#warzone{
    width: 80%;
}
#warzone img{
    width: 100%;
}

#warzone h1{
    font-size: 3rem;
    text-align: center;
    margin: 5px 0 50px 0;
}

#warzone ul{
    font-size: 1.3rem;
    line-height:  1.5;
    text-align: center;
    list-style: circle;
    width: 50%;
    margin: 0;
}

#about ul li{
    font-size: 1.3rem;
    line-height:  1.5;
    text-align: center;
    margin: 0;
}

#warzone p{
    font-size: 1.3rem;
    text-align: left;
    line-height:  1.5;
    width: 50%;
    margin: 0;
}
figure figcaption{
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.trip-item{
    border-radius: 5px;
    min-height: 120px;
    width: 30em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid  black;
}

.price{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    color : red;
}


.badge img {
    margin-top: 670px;
    position: fixed;
}



@media screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
    nav{
        position: relative;
        background-color: black;
    }

    .cards{
        display: none;
    }
    article{
        margin-top: 0;
        width: 100%;
    }

    article p{
        width: 90%;
    }

    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .badge{
        display: none;
    }
}
    
